<% @colect = Choice.find(session[:anwser])%>
<% if @colect.answer_is == true %>
<span class="right">正解!!</span>
<% session[:correct_num] += 1%>
<% else %>
<span class="worng">不正解</span>
<% end %>
<br><br><br>

<%= "#{session[:quiz_no]}問中、#{session[:correct_num]}問正解" %>
<br><br><br>
<%= link_to "トップ画面に戻る", root_path %>＿＿